#include "../lily58.dtsi"

&default_display {
    // Rotation for the right side
    #if defined(CONFIG_ZMK_DISPLAY_STATUS_SCREEN_REVERSE)
    rotation = <180>;
    #else
    rotation = <0>;
    #endif

    widgets {
        status_screen {
            compatible = "zmk,widget-status-screen";
            status {
                compatible = "zmk,widget-output-status";
                position = <0 0>;
            };
            battery {
                compatible = "zmk,widget-battery-status";
                position = <0 9>;
            };
            layer {
                compatible = "zmk,widget-layer-status";
                position = <0 25>;
            };
        };
    };
};

/ {
    behaviors {
        compatible = "zmk,behaviors";
        label = "ZMK_BEHAVIORS";
    };
};
